<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyberVision.mapper.AnimeBaseinfoMapper">
    <resultMap id="BaseResultMap" type="com.cyberVision.entity.AnimeBaseinfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
        <result column="seed" jdbcType="INTEGER" property="seed"/>
        <result column="latents" jdbcType="VARCHAR" property="latents"/>
        <result column="favour_num" jdbcType="INTEGER" property="favourNum"/>
        <result column="glance_num" jdbcType="INTEGER" property="glanceNum"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, img, seed, latents, favour_num, glance_num, create_date, update_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from anime_baseinfo
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from anime_baseinfo
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from anime_baseinfo
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.cyberVision.entity.AnimeBaseinfo">
        insert into anime_baseinfo (id, img, seed,
                                    latents, favour_num, glance_num,
                                    create_date, update_date)
        values (#{id,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{seed,jdbcType=INTEGER},
                #{latents,jdbcType=VARCHAR}, #{favourNum,jdbcType=INTEGER}, #{glanceNum,jdbcType=INTEGER},
                #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.cyberVision.entity.AnimeBaseinfo">
        insert into anime_baseinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="img != null">
                img,
            </if>
            <if test="seed != null">
                seed,
            </if>
            <if test="latents != null">
                latents,
            </if>
            <if test="favourNum != null">
                favour_num,
            </if>
            <if test="glanceNum != null">
                glance_num,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                #{img,jdbcType=VARCHAR},
            </if>
            <if test="seed != null">
                #{seed,jdbcType=INTEGER},
            </if>
            <if test="latents != null">
                #{latents,jdbcType=VARCHAR},
            </if>
            <if test="favourNum != null">
                #{favourNum,jdbcType=INTEGER},
            </if>
            <if test="glanceNum != null">
                #{glanceNum,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cyberVision.entity.AnimeBaseinfo">
        update anime_baseinfo
        <set>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="seed != null">
                seed = #{seed,jdbcType=INTEGER},
            </if>
            <if test="latents != null">
                latents = #{latents,jdbcType=VARCHAR},
            </if>
            <if test="favourNum != null">
                favour_num = #{favourNum,jdbcType=INTEGER},
            </if>
            <if test="glanceNum != null">
                glance_num = #{glanceNum,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cyberVision.entity.AnimeBaseinfo">
        update anime_baseinfo
        set img         = #{img,jdbcType=VARCHAR},
            seed        = #{seed,jdbcType=INTEGER},
            latents     = #{latents,jdbcType=VARCHAR},
            favour_num  = #{favourNum,jdbcType=INTEGER},
            glance_num  = #{glanceNum,jdbcType=INTEGER},
            create_date = #{createDate,jdbcType=TIMESTAMP},
            update_date = #{updateDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>